.container__header{
  background: var(--secondary-color);
  color: var(--white);
  padding: 20px 0;

}

.container__header > header > h1{
  font-size: 18px;
  font-weight: 700;
  font-family: var(--font-roboto);
}
